.property-table{
  border: 1px solid black
}
.property-table td {
  border-right: 1px solid black;
}
ul {
  padding-left: 0px;
}
.resize-container {
  width: 100%;
  height: 600px;
  background-color: white;
  padding: 5px;

}
path {
  cursor: pointer;
  fill: grey
}
.selected {
  fill: #002868;
  stroke: #339999;
  stroke-width: 2px;
  stroke-linejoin: round;;
}